/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
  background-color: #d7c7f0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333333;
}

h1 {
  text-align: center;
  color: #2e2447;
  font: x-large;
  }
  
#movies table {
  border-collapse: collapse;
  border: 2px solid rgb(64, 64, 150);
  width: 80%;
  margin: 12px auto;
  background-color: #e3dfed;
}
 
#movies thead tr {
  background-color: #4a4096;
  color: white;
  font: x-large;
}
  
#movies th,
#movies td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
  
#movies tbody tr{
  background-color: #e6e6ff;
}
#movies tfoot td {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  background-color: #adc0e6;
}

.button-link-show {
  display: inline-block;
  padding: 10px 15px;
  background-color: #4a4096;
  color: white;
  text-decoration: none;
  font-size: medium;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.button-link-add {
  padding: 10px 15px;
  background-color: #4a4096;
  color: white;
  text-decoration: none;
  font-size: large;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
}
  
.button-link:hover {
  background-color: #4f4fba;
}